<html>
<meta charset="utf-8" />

<head>
  <title>Tajniacy</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


  <script src="/socket.io/socket.io.js"></script>

  <style>
    #gameScreen {
      display: none;
    }

    #waitForGame {
      display: none;
    }

    #chooseTeams {
      display: none;
    }
  </style>
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <section class="vh-100">
    <div class="container h-100">
      <div id="initialScreen" class="h-100">
        <div class="d-flex flex-column align-items-center justify-content-center h-100">
          <div id="title">Tajniacy</div>
          <div id="menu">
            <div>
              <div>
                <input type="text" placeholder="Podaj swój nick" id="nicknameInput" />
                <button type="submit" id="newGameButton">Stwórz nową grę</button>
              </div>
              <div id="orText">
                LUB
              </div>
              <div>
                <input type="text" placeholder="Podaj kod gry" id="gameCodeInput" autocomplete="off" />
              </div>
              <div>
                <button type="submit" id="joinGameButton">Dołącz do gry</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="waitForGame" class="h-100">
        <div class="d-flex flex-column align-items-center justify-content-center h-100">
          <div id="waitForGameInfo">
            <h1>Id Twojego pokoju: <span id="gameCodeDisplay"></span></h1>
            <h1>Liczba oczekujących graczy: <span id="waitingPlayers"></span></h1>
          </div>
        </div>
      </div>

      <div id="chooseTeams" class="h-100">
        <div class="d-flex flex-column align-items-center justify-content-center h-100">
          <div id="chooseTeamsTitle">
            <h1>Wybierzcie drużyny:<h1>
          </div>
          <table id="TeamsOptions">
            <tr>
              <td class="TeamRoleColumn">
                <table class="TeamRole TeamBlue" id="teamBlueChef">
                  <tr class="RoleName">
                    <td>Szef</td>
                  </tr>
                  <tr class="RoleButton">
                    <td><button id="blueChefBtn" onclick="chooseTeam('blueChef')" class="unchecked"></button></td>
                  </tr>
                  <tr class="playerName">
                    <td><span id="blueChefName">_</span></td>
                  </tr>
                </table>
              </td>
              <td rowspan="2" class="space"><button id="StartGameBtn" onclick="startGame()"
                  style="display:none;">START</button></td>
              <td class="TeamRoleColumn">
                <table class="TeamRole TeamRed" id="teamRedChef">
                  <tr class="RoleName">
                    <td>Szef</td>
                  </tr>
                  <tr class="RoleButton">
                    <td><button id="redChefBtn" onclick="chooseTeam('redChef')" class="unchecked"></button></td>
                  </tr>
                  <tr class="playerName">
                    <td><span id="redChefName">_</span></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="TeamRoleColumn">
                <table class="TeamRole TeamBlue" id="teamBlueAgent">
                  <tr class="RoleName">
                    <td>Tajniak</td>
                  </tr>
                  <tr class="RoleButton">
                    <td><button id="blueAgentBtn" onclick="chooseTeam('blueAgent')" class="unchecked"></button></td>
                  </tr>
                  <tr class="playerName">
                    <td><span id="blueAgentName">_</span></td>
                  </tr>
                </table>
              </td>
              <td class="TeamRoleColumn">
                <table class="TeamRole TeamRed" id="teamRedAgent">
                  <tr class="RoleName">
                    <td>Tajniak</td>
                  </tr>
                  <tr class="RoleButton">
                    <td><button id="redAgentBtn" onclick="chooseTeam('redAgent')" class="unchecked"></button></td>
                  </tr>
                  <tr class="playerName">
                    <td><span id="redAgentName">_</span></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>


      <div id="gameScreen" class="h-100">
        <div class="d-flex flex-column align-items-center justify-content-center h-100">

          <div id="descriptionBox">
            <div id="descriptionInput" style="display: none">
              <input type='text' id='descriptionIn' placeholder="Wpisz wskazówkę" autocomplete="off" />
              <input type='number' id='amountIn' placeholder="0" autocomplete="off" />
              <button disabled id='sendDescription'>Wyślij</button>
            </div>
            <div id="descriptionOutput">
              <input type='text' disabled id='descriptionOut' placeholder="Tu wskazówka" />
              <input type='number' disabled id='amountOut' placeholder="?" />
              <button disabled id='pass'>Pass</button>
            </div>
          </div>


          <table id="wordGrid" class="board">
            <% for(let i=0; i<gridSize; i++) {%>
              <tr>
                <% for(let j=0; j<gridSize; j++) {%>
                  <td>
                    <button disabled id=<%=i.toString()+j.toString() %> onclick="clickAgent(<%= i %>, <%= j %>)"
                          type="button"></button>
                  </td>
                  <% } %>
              </tr>
              <% } %>
          </table>

        </div>
      </div>

    </div>
  </section>
</body>

</html>
<script src="index.js"></script>